<mat-card *ngIf="elem">
    <mat-card-header>
        <mat-icon class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
            person
        </mat-icon>
        <mat-card-title class='title'>
            {{elem.title}} {{elem.surname}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item [routerLink]="'/users/' + elem.user.id + '/teacher/edit'">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-menu-item [routerLink]="'/users/' + elem.user.id + '/teacher/job/edit'">
                    <mat-icon>edit</mat-icon>
                    Edit Job
                </button>
                <button mat-menu-item (click)="delete(elem.user.id, elem.surname + ' ' + elem.name)">
                    <mat-icon>delete</mat-icon>
                    Remove
                </button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>{{elem.name}}</mat-card-subtitle>
    </mat-card-header>  
            
    <mat-card-content>
        <p>Phone: {{elem.phone}}</p>
        <p>E-mail: {{elem.email}}</p>
        <p>PBN ID: {{elem.pbnId}}</p>
        <p *ngIf="elem.job">Job: {{elem.job.name}} at {{elem.job.institute.name}}</p>  
    </mat-card-content>

    <mat-card-actions>
    </mat-card-actions>
</mat-card>
