.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
 }
 
 .mat-card-grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
 }
 
 .pageNav {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 mat-card-actions {
     display: flex;
     align-items: right;
     justify-content: right;
 }
 
 .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}