<mat-toolbar color="primary" class="expanded-toolbar">
    <span>
        <button mat-button routerLink="/">
            <mat-icon>home</mat-icon>
        </button>
    </span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/courses">
            <mat-icon>school</mat-icon>
            Courses
        </button>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">
            <mat-icon>power_settings_new</mat-icon>
            LogIn
        </button>
        <button mat-button (click)="logOut()" *ngIf="isAuthenticated()">
            <mat-icon>exit_to_app</mat-icon>
            LogOut
        </button>
        <button mat-button routerLink="/register" *ngIf="!isAuthenticated()">
            <mat-icon>account_box</mat-icon>
            Register
        </button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide = "false" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </button>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated()">
        <mat-icon>power_settings_new</mat-icon>
        LogIn
    </button>
    <button mat-button (click)="logOut()" *ngIf="isAuthenticated()">
        <mat-icon>exit_to_app</mat-icon>
        LogOut
    </button>
    <button mat-button routerLink="/register" *ngIf="!isAuthenticated()">
        <mat-icon>account_box</mat-icon>
        Register
    </button>
    <button mat-button routerLink="/courses">
        <mat-icon>school</mat-icon>
        Courses
    </button>
</mat-menu>

<router-outlet></router-outlet>