<mat-card *ngIf="course">
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="editCourse()">
            <h2>Edit course</h2>
            <mat-error *ngIf="loginInvalid">
                Error: {{message}}
            </mat-error>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Course Code" formControlName="courseCode" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="ISCED Code" formControlName="iscedCode" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Erasmus Code" formControlName="erasmusCode" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="ECTS" formControlName="ects" required>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Language" formControlName="language" required>
            </mat-form-field>
            
            
            <mat-form-field class="full-width-input">
                <textarea matInput placeholder="Short Description" formControlName="shortDescription">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <textarea matInput placeholder="Full Description" formControlName="description">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <textarea matInput placeholder="Assesment Rules" formControlName="assessmentRules">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <textarea matInput placeholder="Effects" formControlName="effects">
                </textarea>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <textarea matInput placeholder="Requirements" formControlName="requirements">
                </textarea>
            </mat-form-field>
            
            <mat-checkbox formControlName="facultative"> Facultative Course</mat-checkbox>
            <mat-checkbox formControlName="stationary"> Stationary Course</mat-checkbox>
            <div>
                <button mat-button type="button" (click)="addInstitutes()">{{instituteName}}</button>
            </div>
            <div>
                <button mat-button type="button" (click)="addPrograms()">Add programs</button>
                <button mat-button type="button" *ngFor="let program of semesters">{{program.name}}</button>
            </div>
            <div>
                <button mat-button type="button" (click)="addPrerequisites()">Add prerequisites</button>
                <button mat-button type="button" *ngFor="let prerequisite of prerequisites">{{prerequisite.name}}</button>
            </div>
            <button mat-raised-button color="secondary">Edit</button>
        </form>
    </mat-card-content>
</mat-card>    

