<mat-card *ngIf="elem">
    <mat-card-header>
        <div class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
            <div class="initials">A</div>
        </div>
        <mat-card-title class='title'>
            {{elem.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item [routerLink]="'/admissions/' + elem.id + '/edit'">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-menu-item (click)="delete(elem.id, elem.name)">
                    <mat-icon>delete</mat-icon>
                    Remove
                </button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>{{elem.program.name}}</mat-card-subtitle>
    </mat-card-header>  
            
    <mat-card-content>
        <p>Start Date: {{elem.startDate | date: 'dd-MM-yyyy'}}</p>
        <p>End Date: {{elem.endDate | date: 'dd-MM-yyyy'}}</p>
        <p>Student limit: {{elem.studentLimit}}</p>
        <p>Closed: {{elem.closed}}</p>
        <h3>Admission criteria</h3>
        <div *ngFor="let weight of elem.weights">{{weight.name}}: {{weight.weight}}</div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button [routerLink]="'/admissions/' + elem.id + '/apply'">
            <mat-icon>plus</mat-icon>
            APPLY
        </button>
    </mat-card-actions>


</mat-card>