<button mat-button routerLink="/courses">
    <mat-icon>school</mat-icon>
    Courses
</button>

<button mat-button routerLink="/admissions">
    <mat-icon>school</mat-icon>
    Admissions
</button>

<button mat-button routerLink="/types">
    <mat-icon>school</mat-icon>
    Course types
</button>

<button mat-button routerLink="/institutes">
    <mat-icon>school</mat-icon>
    Institutes
</button>

<button mat-button routerLink="/programs">
    <mat-icon>school</mat-icon>
    Programs
</button>

<button mat-button routerLink="/users">
    <mat-icon>school</mat-icon>
    Users
</button>

<button mat-button routerLink="/teachers">
    <mat-icon>school</mat-icon>
    Teachers
</button>