<h2 *ngIf="parent">Semesters for program {{parent.name}}</h2> 

<button mat-button [routerLink]="'/programs/'+ parent.id" *ngIf="parent">
    <mat-icon>arrow_left</mat-icon>
    Back to {{parent.name}}
</button>

<button mat-button [routerLink]="'/programs/'+ parent.id +'/semesters/add'" *ngIf="parent">
    <mat-icon>add_circle</mat-icon>
    Add semester
</button>

<div *ngIf="message">
    <div>Error</div>
</div>

<app-pagination [totalPages]="totalPages" [page]="page" [last]="last" 
[first]="first" [pagesMin]="getPagesMin()" [pagesFull]="getPagesFull()"
(newPageEvent)="getPage($event)"></app-pagination>

<mat-grid-list cols="3" rowHeight="15em" *ngIf="elems.length > 0"  fxShow="false" fxShow.gt-sm>
    <mat-grid-tile *ngFor="let elem of elems">
        <mat-card class="mat-card-grid">
            <mat-card-header>
                <mat-icon class="circle" mat-card-avatar>
                    book
                </mat-icon> 
                <mat-card-title class='title'>
                    {{elem.name}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
						<button mat-menu-item [routerLink]="'/semesters/' + elem.id + '/edit'">
							<mat-icon>edit</mat-icon>
							Edit
						</button>
						<button mat-menu-item (click)="delete(elem.id, elem.name, parent.name)" *ngIf="parent">
							<mat-icon>delete</mat-icon>
							Remove
						</button>
					</mat-menu>
                </mat-card-title>
                <mat-card-subtitle>Semester {{elem.number}}</mat-card-subtitle>
                
                
            </mat-card-header>  
            
            <mat-card-content>
                
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="primary" [routerLink]="'/semesters/' + elem.id">DETAILS</button>
            </mat-card-actions>

        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxHide = "false" fxHide.gt-sm>
    <mat-card *ngFor="let elem of elems">
        <mat-card-header>
            <mat-icon class="circle" mat-card-avatar>
                book
            </mat-icon> 
            <mat-card-title class='title'>
                Semester {{elem.number}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item [routerLink]="'/semesters/' + elem.id + '/edit'">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item (click)="delete(elem.id, elem.name, parent.name)" *ngIf="parent">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle>{{elem.name}}</mat-card-subtitle>
            
            
        </mat-card-header>  
        
        <mat-card-content>
            
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" [routerLink]="'/semesters/' + elem.id">DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>

<div *ngIf="elems.length == 0">
    <div>No semesters for this program!</div>
</div>
