mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

mat-form-field {
    display: block;
}

mat-checkbox {
    display: block;
}

mat-list h3 {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

mat-list hr {
    border-top: 2px;
    margin-top: 0;
    padding-top: 0;
}

mat-list h3 button {
    position: absolute;
    right: 0;
}

mat-list h3 button mat-icon {
    font-size: 15px;
}

.half-width-input {
    width: 50%;
    display: inline-block;
}