.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
 
.mat-card-grid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.initials {
    color: #ffffff;
    font-size: 20px;
    line-height: 19px;
}

.circle {
    background-color: #3670b2;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions {
    display: flex;
    align-items: right;
    justify-content: right;
}

.textWithIcon {
    position:relative;
    padding-top:4px;
}

.iconForTextWithIcon {
    position:relative;
    padding-right: 5px;
}

.spanForTextWithIcon { 
    position:absolute;
    padding-top:5px;
}