<h2 *ngIf="parent">Admissions for user {{parent.username}}</h2> 

<button mat-button [routerLink]="'/users/'+ parent.id" *ngIf="parent">
    <mat-icon>arrow_left</mat-icon>
    Back to {{parent.username}}
</button>

<div *ngIf="message">
    <div>Error</div>
</div>

<app-pagination [totalPages]="totalPages" [page]="page" [last]="last" 
[first]="first" [pagesMin]="getPagesMin()" [pagesFull]="getPagesFull()"
(newPageEvent)="getPage($event)"></app-pagination>

<mat-grid-list cols="3" rowHeight="15em" *ngIf="elems.length > 0"  fxShow="false" fxShow.gt-sm>
    <mat-grid-tile *ngFor="let form of elems">
        <mat-card class="mat-card-grid">
            <app-admission-form-summary [form]="form" [admin]="admin" (deleteEvent)="delete(form.id)"></app-admission-form-summary>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxHide = "false" fxHide.gt-sm>
    <mat-card *ngFor="let form of elems">
        <app-admission-form-summary [form]="form" [admin]="admin" (deleteEvent)="delete(form.id)"></app-admission-form-summary>
    </mat-card>
</div>

<div *ngIf="ready && elems.length == 0">
    <div>No admissions!</div>
</div>