<h2>Study Groups for course {{parentName}} {{parentDate}}</h2> 

<button mat-button [routerLink]="'/years/'+ parentId">
    <mat-icon>arrow_left</mat-icon>
    Back to year
</button>

<button mat-button [routerLink]="'/years/'+ parentId +'/groups/add'">
    <mat-icon>add_circle</mat-icon>
    Add new group 
</button>
<div *ngIf="message">
    <div>Error</div>
</div>

<app-pagination [totalPages]="totalPages" [page]="page" [last]="last" 
[first]="first" [pagesMin]="getPagesMin()" [pagesFull]="getPagesFull()"
(newPageEvent)="getPage($event)"></app-pagination>

<mat-grid-list cols="3" rowHeight="15em" *ngIf="elems.length > 0"  fxShow="false" fxShow.gt-sm>
    <mat-grid-tile *ngFor="let group of elems">
        <mat-card class="mat-card-grid">
            <mat-card-header>
                <mat-icon class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
                    people
                </mat-icon>
                <mat-card-title class='title'>
                    Group {{group.name}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
						<button mat-menu-item [routerLink]="'/groups/' + group.id + '/edit'">
							<mat-icon>edit</mat-icon>
							Edit
						</button>
						<button mat-menu-item (click)="delete(group.id, group.name)">
							<mat-icon>delete</mat-icon>
							Remove
						</button>
					</mat-menu>
                </mat-card-title>
                <mat-card-subtitle>{{group.type.name}}</mat-card-subtitle>
                
                
            </mat-card-header>  
            
            <mat-card-content>
                <div *ngIf="group.ongoing">Ongoing</div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button color="primary" [routerLink]="'/groups/' + group.id">DETAILS</button>
            </mat-card-actions>

        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxHide = "false" fxHide.gt-sm>
    <mat-card *ngFor="let group of elems">
        <mat-card-header>
            <mat-icon class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
                people
            </mat-icon>
            <mat-card-title class='title'>
                Group {{group.id}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item [routerLink]="'/groups/' + group.id + '/edit'">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item (click)="delete(group.id, group.name)">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </button>
                </mat-menu>
            </mat-card-title>
            <mat-card-subtitle>{{group.type.name}}</mat-card-subtitle>
            
            
        </mat-card-header>  
        
        <mat-card-content>
            <div *ngIf="group.ongoing">Ongoing</div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button color="primary" [routerLink]="'/groups/' + group.id">DETAILS</button>
        </mat-card-actions>

    </mat-card>
</div>

<div *ngIf="ready && elems.length == 0">
    <div>No groups for this year!</div>
</div>
