<h2 *ngIf="parent">Courses for student {{parent.surname}} {{parent.name}}</h2> 

<div *ngIf="message">
    <div>Error</div>
</div>

<app-pagination [totalPages]="totalPages" [page]="page" [last]="last" 
[first]="first" [pagesMin]="getPagesMin()" [pagesFull]="getPagesFull()"
(newPageEvent)="getPage($event)"></app-pagination>

<mat-grid-list cols="3" rowHeight="15em" *ngIf="elems.length > 0"  fxShow="false" fxShow.gt-sm>
    <mat-grid-tile *ngFor="let course of elems">
        <mat-card class="mat-card-grid">
            <app-course-summary [course]="course" [admin]="admin" (deleteEvent)="delete(course.id, course.name)"></app-course-summary>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxHide = "false" fxHide.gt-sm>
    <mat-card *ngFor="let course of elems">
        <app-course-summary [course]="course" [admin]="admin" (deleteEvent)="delete(course.id, course.name)"></app-course-summary>
    </mat-card>
</div>

<div *ngIf="ready && elems.length == 0">
    <div>No courses!</div>
</div>