<h2>Course Types</h2> 

<button mat-button routerLink="/types/add">
    <mat-icon>add_circle</mat-icon>
    Add new course type
</button>
<div *ngIf="message">
    <div>Error</div>
</div>

<app-pagination [totalPages]="totalPages" [page]="page" [last]="last" 
[first]="first" [pagesMin]="getPagesMin()" [pagesFull]="getPagesFull()"
(newPageEvent)="getPage($event)"></app-pagination>

<mat-grid-list cols="3" rowHeight="15em" *ngIf="elems.length > 0"  fxShow="false" fxShow.gt-sm>
    <mat-grid-tile *ngFor="let type of elems">
        <mat-card class="mat-card-grid">
            <mat-card-header>
                <mat-icon class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
                    label
                </mat-icon>
                <mat-card-title class='title'>
                    {{type.name}}
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
						<button mat-menu-item [routerLink]="'/types/' + type.id + '/edit'">
							<mat-icon>edit</mat-icon>
							Edit
						</button>
						<button mat-menu-item (click)="delete(type.id)">
							<mat-icon>delete</mat-icon>
							Remove
						</button>
					</mat-menu>
                </mat-card-title>
            </mat-card-header>  
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div fxHide = "false" fxHide.gt-sm>
    <mat-card *ngFor="let type of elems">
        <mat-card-header>
            <mat-icon class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
                label
            </mat-icon>
            <mat-card-title class='title'>
                {{type.name}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="admin">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item [routerLink]="'/types/' + type.id + '/edit'">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                    <button mat-menu-item (click)="delete(type.id)">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </button>
                </mat-menu>
            </mat-card-title>
        </mat-card-header>  
    </mat-card>
</div>

<div *ngIf="elems.length == 0">
    <div>No types in database!</div>
</div>