<mat-card *ngIf="elem">
    <mat-card-header>
        <div class="circle" mat-card-avatar [ngStyle]="{'background-color': '#3670b2'}" >
            <div class="initials">{{elem.name.charAt(0)}}</div>
        </div>
        <mat-card-title class='title'>
            {{elem.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item [routerLink]="'/courses/' + elem.id + '/edit'">
                    <mat-icon>edit</mat-icon>
                    Edit
                </button>
                <button mat-menu-item (click)="delete(elem.id, elem.name)">
                    <mat-icon>delete</mat-icon>
                    Remove
                </button>
            </mat-menu>
        </mat-card-title>
        <mat-card-subtitle>code: <strong>{{elem.courseCode}}</strong></mat-card-subtitle>

    </mat-card-header>  
            
    <mat-card-content>
        <div class='textWithIcon' *ngIf="!elem.stationary">  
            <mat-icon class="iconForTextWithIcon">laptop</mat-icon>
            <span class="spanForTextWithIcon">online course</span>
        </div>
        <div class='textWithIcon' *ngIf="elem.stationary">  
            <mat-icon class="iconForTextWithIcon">home</mat-icon>
            <span class="spanForTextWithIcon">stationary course</span>
        </div>

        <p>Erasmus/ISCED: {{elem.erasmusCode}}/{{elem.iscedCode}}</p>
        <p>ECTS: {{elem.ects}}</p>
        <p>Language: {{elem.language}}</p>
        <p *ngIf="elem.semesters.length > 0">
            Programs:
            <span *ngFor="let semester of elem.semesters">
				<button mat-button [routerLink]="'/programs/' + semester.program.id">
					{{semester.program.name}}
				</button>
				<button mat-button [routerLink]="'/semesters/' + semester.id">
					({{semester.name}}) 
				</button>
            </span>
        </p>
        <p *ngIf="elem.prerequisites.length > 0">
            Prerequisites:
            <button mat-button *ngFor="let prerequisite of elem.prerequisites" (click)="loadNewElem(prerequisite.id)">
                {{prerequisite.name}}
            </button>
        </p>

        <p *ngIf="elem.organizer">
            Organizer:
            <button mat-button [routerLink]="'/institutes/' + elem.organizer.id">
                {{elem.organizer.name}}
            </button>
        </p>

        <h3>Short Description</h3>
        <div>{{elem.shortDescription}}</div>
        <h3>Full Description</h3>
        <div>{{elem.description}}</div>
        <h3>Assesment Rules</h3>
        <div>{{elem.assessmentRules}}</div>
        <h3>Effects</h3>
        <div>{{elem.effects}}</div>
        <h3>Requirements</h3>
        <div>{{elem.requirements}}</div>
        
        
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="primary" [routerLink]="'/courses/' + elem.id + '/literature'">
            <mat-icon>book</mat-icon>
            LITERATURE
        </button>
        <button mat-button color="primary" [routerLink]="'/courses/' + elem.id + '/years'">
            <mat-icon>school</mat-icon>
            YEARS
        </button>

    </mat-card-actions>


</mat-card>
