<title mat-dialog-title>
    New weight
</title>

<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Weight" formControlName="weight" required>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="cancelAll()">CANCEL</button>
    <button mat-button color="primary" (click)="close()">OK</button>
</mat-dialog-actions>